.sub-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    background-color: yellow;
    border: 2px solid brown;
}

.sub-item {
    margin: 1em 0.5em;
}

.section-container {
    border: 10px solid cyan;
    margin: 1em 1em;
    padding: 1em 1em;
}