.sub-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    background-color: yellow;
    border: 2px solid brown;
}

.sub-item {
    margin: 1em 0.5em;
    /* font-size: 70px; */
}

.section-container {
    border: 10px solid cyan;
    margin: 2em 2em;
    /* padding: 1em 1em; */

    height: 100%;
}
video{
    width: 100%;
    opacity: 0.7;
    background-color: black;
}
.frontOfVideo{
   

}